@page "/"

@attribute [Authorize]

@*<AuthorizeView>
    <Authorized>
        <h1><em>Welcome @context.User.FindFirst("FirstName").Value</em></h1>

    </Authorized>
    <NotAuthorized>
<h1 style="color:red;"><em>Sorry You have to Login!</em></h1>
    </NotAuthorized>
</AuthorizeView>*@

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
